Temp/
.DS_Store
Library/*
*.suo
*.user
*.pidb
*.userprefs
*.csproj
Assets/data/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta
Assets/UFTAtlasEditor/Demo/Images/
Assets/Images/
Assets/UFTAtlasEditor/Editor/Texture.meta
Assets/UFTAtlasEditor/Editor/Texture/AtlasCanvasBGTile.png.meta
Assets/UFTAtlasEditor/Editor/Texture/onePxBorder.png.meta
Assets/UFTAtlasEditor/Editor/Texture
Assets/UFTAtlasEditor/Demo/Atlas/newBigAtlas.asset
Assets/UFTAtlasEditor/Demo/Atlas/newBigAtlas.asset.meta
Assets/UFTAtlasEditor/Demo/Atlas/newBigAtlas.png
Assets/UFTAtlasEditor/Demo/Atlas/newBigAtlas.png.meta
